project:
  type: website
  preview:
    host: '0.0.0.0'
    port: 5000
    browser: false

website:
  title: "김형훈의 학습 블로그"
  description: "안녕하세요. 김형훈의 학습 블로그 입니다."
  favicon: favicon
  site-url: "https://cryscham123.github.io"
  site-path: '/'
  search: false
  sidebar:
    collapse-level: 1
    contents:
      - section: Projects
        contents: 'posts/01_projects/**'
      - section: Categories
        contents: 'posts/02_categories/**'
      - section: Archives
        contents: 'posts/03_archives/**'
  navbar:
    right:
      - text: "Home"
        href: "index.qmd"
      - text: "전체 게시글"
        href: "all.qmd"
  page-footer: 'Copyright 2024 김형훈'
  bread-crumbs: true
  back-to-top-navigation: true
  image: profile.jpg
  image-alt: '김형훈의 학습 블로그'
  google-analytics: 
    tracking-id: '{{< env GOOGLE_TAG >}}'
    storage: none
    anonymize-ip: true

format:
  html:
    theme: [flatly, custom.scss]
    mainfont: "Noto Sans KR"
    css: styles.css
    toc: true
    toc-title: Table of Contents
    lang: ko
    include-in-header: _link.html

excute:
  cache: true
  freeze: auto
