/*-- scss:defaults --*/
// Base document colors
// $body-bg: #eff1f5;
// $body-color: #eff1f5;
// $link-color: #fab387;

// Code blocks
//$code-block-bg: #e6e9ef;

// $btn-code-copy-color:
// $btn-code-copy-color-active: 
//
//$code-bg: #e6e9ef;
// $code-color: #40a02b;
//
// $navbar-bg: #11111b;
// $navbar-hl: #fab387;
// $callout-color-note: #89b4fa;
// $callout-color-tip: #a6e3a1;
// $callout-color-caution: #fab387;
// $callout-color-warning: #f9e2af;
// $callout-color-important: #f38ba8;

$primary: #1e2030;
$secondary: #1e66f5;
$success: #40a02b;
$info: #04a5e5;
$warning: #df8e1d;
$danger: #d20f39;
$light: #dce0e8;
$dark: #11111b;
$text-muted: #4c4f69;

:root {
  --bs-navbar-brand-color: #4c4f69;
}
