/*-- scss:defaults --*/
// Base document colors
$body-bg: #1e1e2e;
$body-color: #eff1f5;
$link-color: #fab387;

// Code blocks
$code-block-bg: #11111b;

// $btn-code-copy-color:
// $btn-code-copy-color-active: 
//
$code-bg: #11111b;
$code-color: #fab387;

$navbar-bg: #11111b;
$navbar-hl: #fab387;
$callout-color-note: #89b4fa;
$callout-color-tip: #a6e3a1;
$callout-color-caution: #fab387;
$callout-color-warning: #f9e2af;
$callout-color-important: #f38ba8;

$primary: #fab387;
