/* css styles */

h2 {
  border-bottom: none;
  border-left: 3.5px solid #007bff;
  padding: 0 0 0 0.5em;
}

#mc_embed_signup  form{
  margin: 0 !important;
}

#mc_embed_signup_scroll h2{
  border: none;
}

.thumbnail p {
  margin: 0;
}

.thumbnail-image {
  border-radius: 3px;
  margin-top: 0;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
}

.post-thumbnail {
  width: 100%;
  height: 10em;
  border-radius: 5px;
  object-fit: cover;
  object-position: center;
}

#title-block-header {
  padding-bottom: 1rem;
  border-bottom: 1px solid #e5e5e5;
}

figcaption {
  text-align: center;
}

#TOC {
  padding-top: 1em;
}
